<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
      font-family: 'Arial', sans-serif;
    }

    .container {
      margin-top: 50px;
    }

    .card {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 30px;
    }

    h1, h2 {
      color: #007bff;
      font-weight: bold;
      text-align: center;
    }

    .board-list {
      background-color: #ffffff;
      border-radius: 8px;
      margin-bottom: 20px;
      padding: 20px;
    }

    .board-link {
      color: #007bff;
      text-decoration: none;
      font-weight: bold;
    }

    .list-group-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      padding: 20px;
      border-bottom: 1px solid #dee2e6;
      transition: background-color 0.3s ease;
    }

    .list-group-item:hover {
      background-color: #f8f9fa;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card board-list">
          <h2>All Generated Boards:</h2>
          <ul class="list-group">
            <% @boards.each do |board| %>
              <li class="list-group-item">
                <%= link_to board.name, minesweeper_board_path(board), class: 'board-link' %>
                <%= board.email || "No user" %> |
                <%= board.formatted_created_at %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
